<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vote for Munich to host EuRuKo in 2013</title>
    <meta content='Vote for Munich to host EuRuKo in 2013' name='description'>
    <meta content='RubyShift Team' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600' rel='stylesheet' type='text/css'>
    <link href='/assets/stylesheets/bootstrap.css' media='screen' rel='stylesheet' type='text/css'>
    <link href='/assets/stylesheets/screen.css' media='screen' rel='stylesheet' type='text/css'>
  </head>
  <body class='landing'>
    <div class='container'>
      {{ content }}
    </div>
  </body>
</html>
