<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vote for Munich to host EuRuKo in 2013</title>
    <meta content='Vote for Munich to host EuRuKo in 2013' name='description'>
    <meta content='RubyShift Team' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600' rel='stylesheet' type='text/css'>
    <link href='/assets/stylesheets/bootstrap.css' media='screen' rel='stylesheet' type='text/css'>
    <link href='/assets/stylesheets/screen.css' media='screen' rel='stylesheet' type='text/css'>
  </head>
  <body class='landing'>
    <div class='container'>
      {{ content }}
    </div>
  </body>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31928306-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</html>
